
h1 {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 28%;
  padding: 20px 0;
}

img {
  width: 200px;
}

.subtitle {
    color: #66BFBF;
    text-align: center;
    padding: 20px, 0;
}

.workdate {
  text-align: right;
}
